body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1e801e; 
    margin: 0;
  }

  body:hover {
    background-color: #166314; 
  }
  
  .pikachu {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #FFD93F;
    border-radius: 50%;
  }
  
  .ear {
    position: fixed;
    width: 15%;
    height: 30%; 
    background-color: #FFD93F;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    top: 13%;
  }
  
  .ear::after {
    content: '';
    position: fixed; 
    width: 100%; 
    height: 20%; 
    background-color: #000000;
    top: 0; 
  }
  
  .ear.left {
    left: 25%;
    transform: rotate(-45deg);
  }
  
  .ear.right {
    right: 25%;
    transform: rotate(45deg);
  }
  
  .eye {
    position: fixed;
    width: 8%;
    height: 8%;
    background-color: #3D0C02;
    border-radius: 50%;
    top: 40%;
  }
  
  .eye.left {
    left: 41%;
  }
  
  .eye.right {
    right: 41%;
  }
  
  .eye {
    position: fixed;
    width: 8%;
    height: 8%;
    background-color: #3D0C02; 
    border-radius: 50%;
    background-image: radial-gradient(circle at 20% 20%, #FFFFFF, transparent 40%), radial-gradient(circle at 50% 50%, #FFFFFF, transparent 30%);
    top: 40%;
  }
  
  .eye.left {
    left: 41%;
  }
  
  .eye.right {
    right: 41%;
  }
  
  
  .cheek {
    position: fixed;
    width: 2%;
    height: 3%;
    background-color: #EE4B2B;
    border-radius: 50%;
    bottom: 45%;
  }
  
  .cheek.left {
    left: 40%;
  }
  
  .cheek.right {
    right: 40%;
  }
  
  .mouth {
    position: fixed;
    width: 2%;  
    height: 3%;
    background-color: #FFC0CB;
    border-radius: 50%;
    bottom: 40%;
    left: 49%;
    border: 2px solid #000000;
    animation: mouthAnimation 2s infinite; 
  }
  
  
  .nose {
    position: fixed;
    width: 3%;  
    height: 3%; 
    background-color: #A52A2A; 
    border-radius: 50%; 
    bottom: 45%; 
    left: 48.5%;  
  }
  

  @keyframes mouthAnimation {
    0%, 100% {
      width: 2%;
      height: 1%; 
    }
    50% {
      width: 3%; 
      height: 2%; 
    }
  }
  